<p class="notice"><%= notice %></p>

<div class="container">
  <%= form_for(@user, url: {controller: "users", action: "update"}) do |f| %>
  <div class="row">
    <div class="col-xs-5 user-table">
      <table class="table">
        <tr>
          <th>あなたのニックネーム</th>
          <th><%= f.text_field :name %></th>
        </tr>
        <tr>
          <th>あなたのメールアドレス</th>
          <th><%= f.text_field :email %></th>
        </tr>
        <tr>
          <th>あなたの性別</th>
          <th>
            <%= f.label :男性  %>
            <%= f.radio_button :gender, :男性 %>
            <%= f.label :女性  %>
            <%= f.radio_button :gender, :女性 %>
            <%= f.label :非回答  %>
            <%= f.radio_button :gender, :回答しない %>
          </th>
        </tr>
        <tr>
          <th>あなたのご年齢</th>
          <th> 
            <%= f.select :age,
              [["未成年", "未成年"], ["二十代", "二十代"], ["三十代", "三十代"], ["四十代", "四十代"], ["五十代", "五十代"], ["その他", "その他"]]
            %>
          </th>
        </tr>
        <tr>
          <th>あなたの業種</th>
          <th>
            <%= f.select :industry, 
              [["農林業または水産業", "農林業または水産業"], ["建設業または土木業", "建設業または土木業"], ["工業または製造業", "工業または製造業"],
              ["電気またはガス等の都市インフラ業", "電気またはガス等の都市インフラ業"], ["通信業", "通信業"],["情報サービス業","情報サービス業" ],
              ["運輸業または郵便業", "運輸業または郵便業"], ["卸売業または小売業", "卸売業または小売業"], ["金融業または保険業", "金融業または保険業"],
              ["不動産業または賃貸業", "不動産業または賃貸業"], ["研究者または専門技術者", "研究者または専門技術者" ],
              ["宿泊業または飲食サービス業", "宿泊業または飲食サービス業"], ["教育または学習支援業", "教育または学習支援業"],
              ["医療または福祉関連", "医療または福祉関連"], ["官公庁または地方自治体等", "官公庁または地方自治体等"], ["その他業種", "その他業種"]]
            %>
          </th>
        </tr>
        <tr>
          <th>あなたの職種</th>
          <th>
            <%= f.select :job, 
              [["会社員", "会社員"], ["公務員", "公務員"], ["自営業", "自営業"], ["会社役員", "会社役員"], ["専業主婦", "専業主婦"],
              ["学生", "学生"], ["パート", "パート"], ["無職", "無職"], ["その他職種", "その他職種"]]
            %>
          </th>
        </tr>
      </table>
        <div class="row">
          <div class="col-lg-4">
            <%= f.submit "変更を保存", class: "btn btn-primary", data: { confirm: '変更しますか？' } %>
          </div>
        </div>
    </div>
  </div>
<% end %>
</div>